bin/
tomcat/logs
tomcat/work
webapp/WEB-INF/data/catalog/generated/
webapp/WEB-INF/data/catalog/originals/
webapp/WEB-INF/data/system/
webapp/WEB-INF/data/repos/
webapp/WEB-INF/elastic/
webapp/WEB-INF/tmp/
webapp/WEB-INF/temp/

