/build/
tomcat/logs
webapp/WEB-INF/data/catalog/generated/
webapp/WEB-INF/data/catalog/originals/
webapp/WEB-INF/elastic/
webapp/WEB-INF/tmp/
webapp/WEB-INF/temp/
webapp/WEB-INF/trash/
webapp/WEB-INF/data/exports/
.DS_Store


## For pushing to upstream, ignore the following files:
#README.md
#.vscode/
#/webapp/WEB-INF/data/repos
