/build/
tomcat/logs
tomcat/work
webapp/WEB-INF/elastic/
webapp/WEB-INF/tmp/
webapp/WEB-INF/temp/
webapp/WEB-INF/trash/
webapp/WEB-INF/data/
.DS_Store

webapp/WEB-INF/data/site/catalog/lists/
webapp/WEB-INF/data/site/catalog/generated/
webapp/WEB-INF/data/site/catalog/originals/
